footer {
    /* margin-top: 3em; */
    /* margin-bottom: 3em; */
    /* margin: 0;
    padding: 0; */
    background-color: #303030;
    font-size: 14px;

    text-align: center;

    position: relative;
    height: 13em;

    display: block;
    /* overflow: hidden; */
 }
 
 /* footer a, footer a:visited { color: #525252; } */
 /* footer a:hover, footer a:focus { color: #fff; } */
 
 /* .footer_container {
} */

.footer__content {
   /* line-height: 2em; */
   /* position: relative;
   top: 4em; */
   background-color: yellow;
   margin: 0;
   display: block;
   position: relative;

   text-align: center;
   /* width: 100%; */
 }

 footer p {
    color: #120F0F;
    
   /* color: white; */

    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;

    /* position: relative; */


    /* position: absolute; */
    
     /* display: inline; */
    /* top: 40%; */
    /* margin: 0 auto; */
   

 }


 /* copyright */
 /* footer .copyright {
     margin: 0;
     padding: 0;
  }
 footer .copyright li {
     display: inline-block;
     margin: 0;
     padding: 0;
     line-height: 24px;
 }
 .ie footer .copyright li {
    display: inline;
 }
 footer .copyright li:before {
     content: "\2022";
     padding-left: 10px;
     padding-right: 10px;
     color: #095153;
 }
 footer .copyright  li:first-child:before {
     display: none;
 } */
 
 /* social links */
/* footer ul {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
 }
 footer ul li {
     display: inline-block;
     margin: 0;
     padding: 0;
     margin-left: 42px;
     color: #F06000;
 }
 
 footer li:first-child { margin-left: 0; }  */

.social {
    /* margin: 24px 0; */ /*header has it, need take a look at it later*/
    padding: 0;
    margin-top: 0 !important;
    /* margin-bottom: 10px; */
    padding-top: 2em !important;

    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);

    /* position: relative; 
    top: 2em; */
    /* text-align: center; */

 }

.social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
 }
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }

 /* Go To Top Button */
#footer__go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#footer__go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}
#footer__go-top a:hover { background-color: #0F9095; } 